<ng-container *ngIf="componentData$ | async as data">
    <p>Title: {{ data.title }}</p>
    <p>Level: {{ data.level }}</p>
    <a (click)="onClick(data.link)">Link: Ir a {{ data.link }}</a>
    <!--<p>link: {{ data.link }}</p>-->
    <!--<div class="tc-collage__item">
        <cx-media *ngIf="data.media" [container]="data.media" class="tc-icon">
        </cx-media>
        <p align="center">{{ data.title }}</p>
        <button class="btn btn-block btn-action">Learn more</button>
    </div>-->
</ng-container>