<ng-container *ngIf="componentData$ | async as data">
    <div class="tc-collage__item">
        <cx-media *ngIf="data.media" [container]="data.media" class="tc-icon">
        </cx-media>
        <div [ngClass]="data.cardType == '2' ? 'tc-info__flex' : ''">
            <p align="center" style="margin: 0;">{{ data.title }}</p>
            <div *ngIf="data.cardType == '1'; else cardType2" >
                <button class="btn btn-block btn-action">Learn more</button>
            </div>
            <ng-template #cardType2>
                <cx-icon [type]='iconTypes.LINK_OUT'></cx-icon>
            </ng-template>
        </div>
    </div>
</ng-container>