.cart-details-wrapper {
    padding: 2rem 0;
    
    .cx-total {
        font-size: var(--cx-font-size, 1.125rem);
        font-weight: var(--cx-font-weight-bold);
        line-height: var(--cx-line-height, 1.2222222222);
        margin: 0 0 1rem;
    }
}