<div *ngIf="product">
    <ng-container>
        <div class="tc-compare__button-add__product" *ngIf="productInCompare$ | async as productInCompare">
            <button class="btn btn-info btn-block" *ngIf="productInCompare[0] == null" (click)="addProductToCompare()">
                {{ 'tcAddToCompare.compare' | cxTranslate }}
            </button>
            <button class="btn btn-secondary btn-block" *ngIf="productInCompare[0] != null" (click)="deleteProductToCompare()">
                {{ 'tcAddToCompare.noCompare' | cxTranslate }}
            </button>
        </div>
    </ng-container>
</div>
