<ng-container *ngIf="componentData$ | async as data">
    {{ data.position }}
    <div [ngClass]="data.position == '1' ? 'tc-container__row' : 'tc-container__reverse'" class="tc-container__item">
        <div class="custom-width">
            <cx-media *ngIf="data.media" [container]="data.media" class="tc-icon">
            </cx-media>
        </div>
        <div class="custom-width">
            <h1>{{ data.title }}</h1>
            <p>{{ data.description }}</p>
            <button class="btn btn-primary">Learn more</button>
            <ng-container *ngIf="data.position == '2'">
                <button class="btn btn-action button">See insights on Bracs</button>
            </ng-container>
        </div>
    </div>
</ng-container>