<ng-container *ngIf="componentData$ | async as data">
    <div [ngClass]="data.position == '1' ? 'tc-container__row' : 'tc-container__reverse'" class="tc-container__item">
        <div class="custom-width">
            <cx-media *ngIf="data.media" [container]="data.media" class="tc-icon">
            </cx-media>
        </div>
        <div class="custom-width">
            <h1>{{ data.title }}</h1>
            <p>{{ data.description }}</p>
            <button class="btn btn-primary">Learn more</button>
            <ng-container *ngIf="data.position == '2'">
                <button class="btn btn-action button">See insights on Bracs</button>
            </ng-container>
        </div>
    </div>
    <div>
        <a (click)="inView(item1)">Item 1</a>
        <a (click)="inView(item2)">Item 2</a>
        <a (click)="inView(item3)">Item 3</a>
        <a (click)="inView(item4)">Item 4</a>
    </div>
    <div>
        <h1 #item1>Item 1</h1>
        <div style="width: 100px; height: 100px; background: red;"></div>
        <h1 #item2>Item 2</h1>
        <div style="width: 200px; height: 200px; background: blue;"></div>
        <h1 #item3>Item 3</h1>
        <div style="width: 1000px; height: 1000px; background: green;"></div>
        <h1 #item4>Item 4</h1>
        <div style="width: 500px; height: 500px; background: yellow;"></div>
    </div>
</ng-container>