.ld-page-layout {
  max-width: var(--cx-page-width-max);
  margin: auto;
  display: flex;
}

.ld-product-container {
  margin: 40px 0;

  .ld-product-list {
    display: block;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--cx-color-light);
    margin: 0 0 25px 0;

    &-item {
      .ld-product-image-container {
        display: block;
        text-align: center;
        height: 100%;

        .product-image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .ld-product-name {
        font-size: var(--cx-font-size, 1rem);
        font-weight: var(--cx-font-weight-bold);
        line-height: var(--cx-line-height, 1.2222222222);
        text-align: start;
        display: block;
        margin: 0 0 3px 0;
        color: var(--cx-color-dark);
        text-decoration: none;
      }

      .ld-product-price {
        font-size: var(--cx-font-size, 1.375rem);
        font-weight: var(--cx-font-weight-semi);
        line-height: var(--cx-line-height, 1.2222222222);
        text-align: start;
        margin: 15px 0 0 0;
      }

      .ld-product-button-remove {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }


  }
}

