<div class="ld-page-layout">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="ld-product-container">
          <ng-container *ngIf="savedlistDetail$ | async as savedlistDetail">
            <div *ngFor=" let product of products" class="ld-product-list">
              <div class="row ld-product-list-item">
                <div class="col-12 col-md-4">
                  <a class="ld-product-image-container" href="/product/{{product.code}}/{{product.name}}">
                    <cx-media class="product-image" [container]="product.images[imageProductFormat]" format="product">
                    </cx-media>
                  </a>
                </div>
                <div class="col-12 col-md-8">
                  <a class="ld-product-name" href="/product/{{product.code}}/{{product.name}}">
                    {{product.name}}
                  </a>
                  <cx-star-rating [rating]="product.averageRating">
                  </cx-star-rating>
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <div aria-label="Product Price" class="ld-product-price">
                        {{ product.price?.formattedValue }}
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <button  type="button" class="btn btn-link ld-product-cart-button" >
                        <cx-icon  [type]='iconTypes.CART'></cx-icon>
                      </button>
                      <!--<cx-add-to-cart [product]="product" [productCode]="product.code" ></cx-add-to-cart>-->
                      <button type="button" class="btn btn-link"
                        (click)="handleDeleteProductAction(listId, product.code)">
                        <cx-icon [type]='iconTypes.TRASH'></cx-icon>
                      </button>
                    </div>
                  </div>
                  <p class="ld-product-summary">
                    {{product.summary}}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
