<div *ngIf="loading$ | async; else savedlistDetailProduct">
  <div class='cx-spinner'>
    <cx-spinner></cx-spinner>
  </div>
</div>



<ng-template #savedlistDetailProduct>
  <ng-container *ngIf="success$ | async">
    <div class="ld-detail-title">
      <h1> {{detail$.name | titlecase}} </h1>
      <p> {{detail$.description | titlecase}} </p>
    </div>
    
    <ng-container *ngIf=" products$?.length > 0; else emptySavedlistDetailProduct">
      <div class="ld-page-layout">
        <div class="container">
          <tc-saved-list-search-bar (onDebounce)="search($event)" ></tc-saved-list-search-bar>
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="ld-product-container">
                <div *ngFor=" let product of products$ | filter:term:searchType" class="ld-product-list">
                  <div class="row ld-product-list-item">
                    <div class="col-12 col-md-4">
                      <a class="ld-product-image-container"
                        [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
                        <div *ngIf=" product.images; else imageMissing ">
                          <cx-media class="product-image" [container]="product.images[imageProductFormat]" [alt]="product.name"
                            format="product">
                          </cx-media>
                        </div>
                        <ng-template #imageMissing>
                          <cx-media class="product-image" [container]="product.images?.PRIMARY" [alt]="product.name"
                          format="product">
                        </cx-media>
                        </ng-template>
                      </a>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="row ld-product-detail-container">
                        <div class="col-12 col-md-6">
                          <a class="ld-product-name" [routerLink]="{ cxRoute: 'product', params: product } | cxUrl">
                            {{product.name}}
                          </a>
                          <cx-star-rating [rating]="product.averageRating">
                          </cx-star-rating>
                          <div aria-label="Product Price" class="ld-product-price">
                            {{ product.price?.formattedValue }}
                          </div>
                          <p class="ld-product-summary">
                            {{product.summary}}
                          </p>
                        </div>
                        <div class="col-12 col-md-6">
                          <cx-add-to-cart [showQuantity]="false" [product]="product" [productCode]="product.code">
                          </cx-add-to-cart>
                          <div class="ld-product-button-remove">
                            <button class="btn btn-info btn-block"
                              (click)="handleDeleteProductAction(detail$.id, product.code)">
                              {{ 'savedListDetail.removeProduct' | cxTranslate }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #emptySavedlistDetailProduct>
    <div class="alert alert-info ld-product-alert mb-5" role="alert">
      {{ 'savedListDetail.notProductsAlert' | cxTranslate }}
    </div>
  </ng-template>

  <ng-container *ngIf="error$ | async">
    <div class="alert alert-danger ld-product-alert mb-5" role="alert">
      {{ 'savedListDetail.errorIdAlert' | cxTranslate }}
    </div>
  </ng-container>


</ng-template>
