<!--<div style="background: red; width: 1000px; height: 100px;" id="red"></div>
<div style="background: green; width:2000px; height: 2000px;" id="green"></div>
<div style="background: yellow; width: 500px; height: 500px;" id="yellow"></div>
<div style="background: blue; width: 200px; height: 200px;" id="blue"></div>-->
<ng-container *ngIf="containerData$ | async as data">
      <ng-container *ngIf="items$ | async as items">
        <div class="tc-collage__container">
          <ng-container *ngFor="let item of items" [cxComponentWrapper]="{ 
            flexType: item.typeCode,
            typeCode: item.typeCode,
            uid: item?.uid}">
          </ng-container>
        </div>
      </ng-container>
  </ng-container>