<ng-container *ngIf="containerData$ | async as data">
    <div class="tc-dropDow">
      <h1>{{ data.title }}</h1>
      <cx-icon [type]='iconTypes.CARET_DOWN' (click)="onClick()" *ngIf="size < 768"></cx-icon>
    </div>
    <div *ngIf="dropDown">
      <ng-container *ngIf="items$ | async as items">
        <div class="tc-collage__container">
          <ng-container *ngFor="let item of items" [cxComponentWrapper]="{ 
            flexType: item.typeCode,
            typeCode: item.typeCode,
            uid: item?.uid}">
          </ng-container>
        </div>
      </ng-container>
    </div>
</ng-container>