.tc-container{

    margin: 0 5%;

    .tc-container__description{
       margin: 3% 0 0 0; 
    }

    @media(min-width:768px){
        .tc-sidebar{
            float: left;
            width: 30%;
            margin: 3% 5%;
        }

        .tc-cards{
            float: right;
            width: 60%;
            margin: 7% 0;
        }
    }
}