<ng-container *ngIf="containerData$ | async as data">
  <div class="tc-container">
    <div class="tc-sidebar">
      <ng-container *ngIf="sidebars$ | async as sidebars">
        <div class="tc-collage__container">
          <ng-container *ngFor="let sidebar of sidebars" [cxComponentWrapper]="{ 
            flexType: sidebar.typeCode,
            typeCode: sidebar.typeCode,
            uid: sidebar?.uid}">
          </ng-container>
        </div>
      </ng-container>
    </div>
    <div class="tc-cards">
      <div class="tc-container__description">
        {{ data.description }}
      </div>
      <ng-container *ngIf="cards$ | async as cards">
        <div class="tc-collage__container">
          <ng-container *ngFor="let card of cards" [cxComponentWrapper]="{ 
            flexType: card.typeCode,
            typeCode: card.typeCode,
            uid: card?.uid}">
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>