
.saved-list__container{
  border-bottom: 1px solid #ccc;
  padding: 40px 40px 40px 20px;
  position: relative;

  .saved-list__name{
    font-size: 25px;
    font-weight: 500;
    color: black;
  }

  .saved-list__description{
    font-weight: 300;
    height: 25px;
  }

  .saved-list__btn-group{
    position: absolute;
    top: 15%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

}

.search-bar{
  margin-top: 50px;
}

.create-new-list{
  margin: 40px 0px 20px auto;
  width: 20%;
}

.noSavedLists{
  margin-top: 20px;
  border-radius: var(--cx-buttons-border-radius);
}


@media (max-width: 992px){
  .create-new-list{
    width: 100%;
  }
}

@media (min-width: 992px){
  .btn{
    font-size: 1.125rem;
  }
  .saved-list__container{
    padding-right: 190px;
  }
}

@media (min-width: 768px){
  .btn{
    font-size: 1rem;
  }
  .saved-list__container{
    padding-right: 150px;
  }
}


@media (max-width: 768px){
  .btn{
    font-size: 0.95rem;
  }
  a.btn{
    padding-top: initial;
  }
  .saved-list__container{
    padding-right: 110px;
  }

}

@media (max-width: 440px){
  .btn{
    font-size: 0.7rem;
  }
  a.btn{
    padding: 8px;
  }
  .saved-list__container{
    padding-right: 110px;
  }

}
