<ng-container *ngIf='savedLists$ | async as savedLists'>
  <div *ngIf='loading$ | async; else savedListsList'>
    <div class='cx-spinner'>
      <cx-spinner></cx-spinner>
    </div>
  </div>

  <ng-template #savedListsList>
    <div class='container search-bar'>
      <tc-saved-list-search-bar (onDebounce)="search($event)" ></tc-saved-list-search-bar>
      <ng-container
        *ngIf='savedLists?.length > 0; else emptySavedLists'>
        <div class='saved-list__container' *ngFor=' let savedList of savedLists | filter:term:searchType'>
          <a [routerLink]="['/my-account/saved-lists/detail']" [queryParams]='{listId:savedList.id}'
             class='saved-list__name'>
            {{savedList.name}}
          </a>
          <div class='saved-list__description'>
            {{savedList.description}}
          </div>
          <div class='saved-list__btn-group'>
            <a class='btn btn-primary btn-block' [routerLink]="['/my-account/saved-lists/detail']"
               [queryParams]='{listId:savedList.id}'>
              {{ 'savedListList.viewSavedList' | cxTranslate }}
            </a>
            <button type='button' class='btn btn-info btn-block'
                    (click)='handleDeleteSavedListAction(savedList.id)'>
              {{ 'savedListList.deleteSavedList' | cxTranslate }}
            </button>
          </div>
        </div>
      </ng-container>
      <div class='create-new-list'>
        <tc-saved-list-modal [modalType]=2></tc-saved-list-modal>
      </div>
      <ng-template #emptySavedLists>
        <div class='alert alert-info mb-5 noSavedLists' role='alert'>
          {{ 'savedListList.noSavedLists' | cxTranslate }}
        </div>
      </ng-template>
      <ng-container *ngIf='error$ | async'>
        <div class='alert alert-danger mb-5' role='alert'>
          {{ 'savedListList.error' | cxTranslate }}
        </div>
      </ng-container>
    </div>
  </ng-template>
</ng-container>


