
.saved-list__container{
  border-bottom: 1px solid #ccc;
  padding: 40px;
  position: relative;

  .saved-list__name{
    font-size: 25px;
    font-weight: 500;
    color: black;
  }

  .saved-list__description{
    font-weight: 300;
  }

  .saved-list__btn-group{
    position: absolute;
    top: 15%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }
}

.create-new-list{
  margin: 40px 0px 20px auto;
  width: 20%;
}

.noSavedLists{
  margin-top: 20px;
}

@media (max-width: 992px){
  .create-new-list{
    width: 100%;
  }
}
