.tc-collage__item{
    border: solid 1px 	#DCDCDC; 
    border-radius: 5px; 
    padding: 20px; 
    margin: 20px 0;

    cx-media{
        width: 200px;
        height: 200px;
    }

    p{
        margin: 0 0 10px 0;
    }


}